<nav>
<div class="wrapper">

<a href="/" style="float:left;" class="menuitem2">
  <img src="logo.png" alt="logo" style="width:64px;" class="logo pop">
  <h1 class="big-text pop" style="display:inline; padding-left:10px; color:var(--alt-color);">
    <% if (doc === 'login' || doc === 'register') { %>
      <%= 'HomeMath' %>
    <% } else { %>
      <%= 'Home' %>
    <% } %>
  </h1>
</a>

<!--
reference for making the user info a dropdown menu later

<div 
<div class="dropdown">
  <button class="dropbtn">Dropdown</button>
  <div class="dropdown-content">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
</div> 
-->

<% if (!(doc === 'login' || doc === 'register')) { %>
<%- '<div class="menu2" style="float:right;">' %>
<%-   '<a href="#" class="menuitem2">' %>
<%-     '<img src="FROG.png" alt="Profile picture" style="width:48px;" class="logo pop">' %>
<%-   '</a>' %>
<%-   '<a href="#" class="highlighted menuitem2"><p class="pop">' %>
<%-     username %>
<%-   '</p></a>' %>
<%-   '<a href="/logout" class="menuitem2">' %>
<%-     '<img src="logout.png" alt="Logout icon" style="width:48px;" class="logo pop">' %>
<%-   '</a>' %>
<%- '</div>' %>
<% } %>

</div>
</nav>
