<nav class="noselect">
<div style="width:var(--def-width); margin:auto;">

<div class="menu2">
  <a href="/" style="float:left;" class="menuitem2">
    <img src="logo.png" alt="logo" style="width:64px;" class="logo pop">
    <h1 class="big-text pop" style="padding-left:10px; color:var(--alt-color);">
      <% if (doc === 'login' || doc === 'register') { %>
        <%= 'HomeMath' %>
      <% } else { %>
        <%= 'Home' %>
      <% } %>
    </h1>
  </a>

  <!--Dropdown menus-->
  <% if (doc === 'teacher' && classes != undefined) { %>
    <div class="highlighted menuitem2" style="position: relative;">
      <a href="/tp" class="pop">Mr. Morabito's Class</a>

      <div class="submenu highlighted shadow">
        <a href="#"><p class="pop">Ms. X's Class</p></a>
        <a href="#"><p class="pop">Mr. Z's Class</p></a>
      </div>

    </div>
  <% } %>

</div>


<% if (!(doc === 'login' || doc === 'register')) { %>

<%- '<div class="menu2" style="float:right;">' %>

<%-   '<a href="#" class="menuitem2">' %>
<%-     '<img src="FROG.png" alt="Profile picture" style="width:48px;" class="logo pop">' %>
<%-   '</a>' %>





<%-   '<div class="highlighted menuitem2" style="position: relative;"><p class="pop">' %>
<%-     username %>

<%-     '<div class="submenu highlighted shadow">' %>
<%-       '<a href="#"><p class="pop">Change password</p></a>' %>
<%-       '<a href="#"><p class="pop">Change icon</p></a>' %>
<%-     '</div>' %>

<%-   '</p></div>' %>

<%-   '<a href="/logout" class="menuitem2">' %>
<%-     '<img src="logout.png" alt="Logout icon" style="width:48px;" class="logo pop">' %>
<%-   '</a>' %>

<%- '</div>' %>

<% } %>

</div>
</nav>


