<nav class="noselect">
<div style="width:var(--def-width); margin:auto;">

<div class="menu2">
  <a href="/" style="float:left;" class="menuitem2">
    <img src="logo.png" alt="logo" style="width:64px;" class="logo pop">
    <h1 class="big-text pop" style="padding-left:10px; color:var(--alt-color);">
      <% if (doc === 'login' || doc === 'register') { %>
        <%= 'HomeMath' %>
      <% } else { %>
        <%= 'Home' %>
      <% } %>
    </h1>
  </a>



  <% if (doc !== 'login' || doc !== 'register') { %>
    <% if (teacher == 1) { %>
      <% if (classrooms.length !== 0) { %>

        <!--Dropdown menus-->
        <div class="highlighted menuitem2" style="position: relative;">
          <a href="/tp" class="pop"><%- currentClass.name %></a>

          <div class="submenu highlighted shadow">
            
            <% classrooms.forEach(function(classroom) { %>
              <a href="/c/<%- classroom.name %>"><p class="pop"><%- classroom.name %></p></a>
            <% }); %>

          </div>

        </div>
      <% } %>
    <% } %>
  <% } %>

</div>


<% if (!(doc === 'login' || doc === 'register')) { %>

 <div class="menu2" style="float:right;">

   <a href="#" class="menuitem2">
     <img src="FROG.png" alt="Profile picture" style="width:48px;" class="logo pop">
   </a>





   <div class="highlighted menuitem2" style="position: relative;"><p class="pop">
     <%- username %>

     <div class="submenu highlighted shadow">
      <p class="pop" style="display: block; padding: 20px; text-align: center;">Change icon</p>
       <p class="pop" id="changePass" style="display: block; padding: 20px; text-align: center;">Change password</p>
     </div>

   </p></div>

   <a href="/logout" class="menuitem2"> %>
     <img src="logout.png" alt="Logout icon" style="width:48px;" class="logo pop">
   </a>

 </div>

 <div class="popup-bg" id="settingsBG" style="z-index: 3;">
  <div class="change-settings-box prompt shadow">

    <div class="x-button noselect" onclick="closePrompts();">+</div>

    <h2>Change Password</h2>

    <form action="/change/password" method="POST">
      <!--<input class="answerfield" type="password" name="password_old" placeholder="Old password" minlength="8">-->
      <input class="answerfield" type="password" name="password_new" placeholder="New password" minlength="8">
      <input class="answerfield" type="password" name="password_confirm" placeholder="Confirm password" minlength="8">
      
      <button class="submitanswer pop" type="submit" class="pop">Submit</button>
    </form>

  </div>
 </div>

 <script type="text/javascript">
   
  document.getElementById("changePass").addEventListener("click", function() {

    document.getElementById("settingsBG").style.display = "flex";
    document.querySelector(".change-settings-box").style.display = "block";

  });

  function closePrompts() {

    let prompts = document.querySelectorAll(".prompt");

    for (var i = 0; i < prompts.length; i++) {
      prompts[i].style.display = "none";
    }

    document.querySelector(".popup-bg").style.display = "none";

  }

 </script>

<% } %>

</div>
</nav>


