<main>
<section>
  <div class="content">
    <h1 class="main-text" style="margin-bottom:0.25em;">
      Register new <%= user_type %>:
    </h1>
    <% if (user_type === 'student') { %>
      <%- '<h2 class="sub-text" style="margin-bottom:1em;">' %>
        <%- '(Ask an adult for help!)' %>
      <%- '</h2>' %>
    <% } else { %>
      <%- '<br>' %>
    <% } %>
    <form action="/register-<%= user_type %>" method="POST">
      <div class="input-line">
        <label for="firstname">First name</label>
        <input type="text" id="firstname" name="firstname" autofocus required>
      </div>
      <div class="input-line">
        <label for="lastname">Last name</label>
        <input type="text" id="lastname" name="lastname" required>
      </div>
      <div class="input-line">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>
      </div>
      <div class="input-line">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>
      </div>
      <div class="input-line">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" minlength=8 required>
      </div>
    <!--
      <div>
        <label for="password">Confirm password</label>
        <input type="password" id="password" name="password" required>
      </div>
    -->
      <button type="submit">Sign up</button>
    </form>
  <!-- <a href="/login">Login</a> -->
  </div>
</section>
</main>
