<main>

<section class="shadow" style="display:flex; align-items:center; height:300px;">

  <% if (classrooms.length == 0) { %>

    <div style="padding-top:2%; margin:0 auto; display: flex; justify-content: center; align-items: center; flex-flow: column;">
    <h1 class="sub-text">
      Looks like you aren't teaching any classes yet.
    </h1>
    <button id="addClass" class="submitanswer pop" style="width:200px;" type="submit" class="pop">
      Create class
    </button>
    </div>

    <div class="popup-bg">
      <div class="add-class-box prompt shadow">
        <div class="x-button noselect" onclick="closePrompts();">+</div>
        <h2>Create Classroom</h2>
        <form action="/add/class" method="POST">
          <input class="answerfield" type="text" name="class_name" placeholder="Name">
          <select class="answerfield selectionbox" name="grade">
            <option value="K">K</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
          <button class="submitanswer pop" type="submit" class="pop">Submit</button>
        </form>
      </div>
    </div>

    <script type="text/javascript">
      document.getElementById("addClass").addEventListener("click", function() {
        document.querySelector(".popup-bg").style.display = "flex";
        document.querySelector(".add-class-box").style.display = "block";
      });

      function closePrompts() {
        let prompts = document.querySelectorAll(".prompt");

        for (var i = 0; i < prompts.length; i++) {
          prompts[i].style.display = "none";
        }
        document.querySelector(".popup-bg").style.display = "none";
      }
    </script>

  <% } else { %>

    <div class="topmenu">
      <div class="rightcol">
        
        <div class="heading">
          <div class="title">
            <h2>Assignments</h2>
            <img src="https://cdn3.iconfinder.com/data/icons/navigation-icons-1/32/add-512.png" class="pop" id="addAssignment">
          </div>
        </div>

        <table>
          <tr>
            <th>Due</th>
            <th>Name</th>
            <th>Completed</th>
          </tr>

          <tr>
            <td class="duedate pop noselect"><p>12/18</p></td>
            <td>Math Test 1</td>
            <td>20</td>
          </tr>

          <tr>
            <td class="duedate pop noselect"><p>12/18</p></td>
            <td>Math Test 1</td>
            <td>20</td>
          </tr>

          <tr>
            <td class="duedate pop noselect"><p>12/18</p></td>
            <td>Math Test 1</td>
            <td>20</td>
          </tr>

          <tr>
            <td class="duedate pop noselect"><p>12/18</p></td>
            <td>Math Test 1</td>
            <td>20</td>
          </tr>

          <tr>
            <td class="duedate pop noselect"><p>12/18</p></td>
            <td>Math Test 1</td>
            <td>20</td>
          </tr>

          <tr>
            <td class="duedate pop noselect"><p>12/18</p></td>
            <td>Math Test 1</td>
            <td>20</td>
          </tr>

        </table>

      </div>
      <div class="leftcol">
        
        <div class="heading">
          <div class="title">
            <h2>Resources</h2>
            <img src="https://cdn3.iconfinder.com/data/icons/navigation-icons-1/32/add-512.png" class="pop" id="addResource">
          </div>

          <a href="/tutorials" class="print pop noselect" style="margin-right: 5px; display: flex; align-items: center;">Visit</a>
        </div>

        <table>
          <tr>
            <th>Created</th>
            <th>Name</th>
            <th>Views</th>
          </tr>

          <% tutorials.forEach(function(tuto) { if (tuto.is_visible == 1) { %>

            <tr>
              <td class="practice"><p><%- tuto.assign_date.getMonth() + 1 %>/<%- tuto.assign_date.getDate() %></p></td>
              <td><%- tuto.tag %></td>
              <td>0</td>
            </tr>

          <% }}); %>

        </table>

      </div>
    </div>

    </section>

    <br />

    <section class="shadow" style="height:435px;">

      <div class="topmenu">

        <div class="rightcol" style="width: 100%; height: 400px;">
          <div class="heading">
              
            <div class="title">
              <h2>Students</h2>
              <img src="https://cdn3.iconfinder.com/data/icons/navigation-icons-1/32/add-512.png" class="pop" id="addStudent">
            </div>

            <h2 style="color: #9d9d9d" id="studentTotal">Total: </h2>
          </div>

          <table class="student_table">

            <% let counter = 0; %>

            <% students.forEach(function(student) { %>

              <% if (student.classroom_id == currentClass.id) { %>

                <tr>
                  <td class="student_name"><%- student.first_name %> <%- student.last_name %></td>
                  <td class="parrot"><img src="https://cdn3.iconfinder.com/data/icons/navigation-icons-1/32/add-512.png" class="pop parrot"></td>
                  <td class="trophy_count">x2</td>
                  <td class="pop print noselect"><p>Print</p></td>
                  <td class="student_grade">80%</td>
                </tr>

                <% counter += 1; %>

              <% } %>

            <% }); %>

          </table>

        </div>

      </div>

    </section>

    <br />

    <section class="shadow">
      
      <div class="heading" style="padding: 20px;">
        <div class="title">
          <h2>Add a new class</h2>
          <img src="https://cdn3.iconfinder.com/data/icons/navigation-icons-1/32/add-512.png" class="pop" id="addClass">
        </div>
      </div>

    </section>

    <br />

    <div class="popup-bg">
      
      <div class="add-assignment-box prompt shadow">

        <div class="x-button noselect" onclick="closePrompts();">+</div>

        <h2>Add Assignment</h2>

        <form action="/add/assignment" method="POST">
          <input class="answerfield" type="text" name="work_name" placeholder="Name" required>
          <input class="answerfield" type="text" name="work_description" placeholder="Description">
          <input class="answerfield" type="number" name="time_limit" placeholder="Time limit (minutes)">
          <select class="answerfield selectionbox" name="preset">
            <% presets.forEach(function(ps) { %>
              <option value="<%=ps.id%>"><%= ps.name %></option>
            <% }); %>
          </select>
          <input class="answerfield" type="datetime" name="due_date" placeholder="Due date" required>
          <button class="submitanswer pop" type="submit" class="pop">Submit</button>
        </form>

      </div>

      <div class="add-resource-box prompt shadow">

        <div class="x-button noselect" onclick="closePrompts();">+</div>

        <h2>Add Resource</h2>

        <form action="/add/tutorial" method="POST">
          <input class="answerfield" type="text" name="tutorial_name" placeholder="Name">
          <input class="answerfield" type="text" name="tutorial_tag" placeholder="Division, Multiplication...">
          <input class="answerfield" type="text" name="tutorial_description" placeholder="Description">
          <input class="answerfield" type="text" name="tutorial_link" placeholder="Link">
          <button class="submitanswer pop" type="submit" class="pop">Submit</button>
        </form>

      </div>

      <div class="add-student-box prompt shadow">

        <div class="x-button noselect" onclick="closePrompts();">+</div>

        <h2>Add Student</h2>

        <form action="/add/student" method="POST">
          <select class="answerfield selectionbox" name="student_username" placeholder="Username">

                <option value="" disabled selected>Select a student...</option>

            <% if (students !== 0) { %>
              <% students.forEach(function(student) { %>

                <option value="<%= student.user_name%>"><%- student.first_name%> <%- student.last_name%></option>

              <% }); %>
            <% } %>

          </select>

          <button class="submitanswer pop" type="submit" class="pop">Submit</button>
        </form>

      </div>

      <div class="add-class-box prompt shadow">
        <div class="x-button noselect" onclick="closePrompts();">+</div>
        <h2>Create Classroom</h2>
        <form action="/add/class" method="POST">
          <input class="answerfield" type="text" name="class_name" placeholder="Name">
          <select class="answerfield selectionbox" name="grade">
            <option value="K">K</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
          <button class="submitanswer pop" type="submit" class="pop">Submit</button>
        </form>
      </div>

    </div>

    <script type="text/javascript">
      
      document.getElementById("addAssignment").addEventListener("click", function() {

        document.querySelector(".popup-bg").style.display = "flex";
        document.querySelector(".add-assignment-box").style.display = "block";

      });

      document.getElementById("addResource").addEventListener("click", function() {

        document.querySelector(".popup-bg").style.display = "flex";
        document.querySelector(".add-resource-box").style.display = "block";

      });

      document.getElementById("addStudent").addEventListener("click", function() {

        document.querySelector(".popup-bg").style.display = "flex";
        document.querySelector(".add-student-box").style.display = "block";

      });

      document.getElementById("addClass").addEventListener("click", function() {

        document.querySelector(".popup-bg").style.display = "flex";
        document.querySelector(".add-class-box").style.display = "block";

      });

      function closePrompts() {

        let prompts = document.querySelectorAll(".prompt");

        for (var i = 0; i < prompts.length; i++) {
          prompts[i].style.display = "none";
        }

        document.querySelector(".popup-bg").style.display = "none";

      }

      let studentTotal = document.getElementById("studentTotal");

      studentTotal.innerHTML = "Total: " + <%= counter %>;

    </script>

  <% } %>
