<main>



<section class="shadow" style="min-height:615px;">

    <div class="menu">
      <!--Topic/question title-->
      <h2 class="menuitem" style="padding-left:10px;" id="tutorialTitle">No video loaded.</h2>

      <!--Work page navigation
      <div class="assignmentnav menuitem">
        <a href="#" class="menuitem arrowglyph pop noselect" style="color: #525252">🡄</a>
        <a href="#" class="menuitem arrowglyph pop noselect" style="color: #525252">🡆</a>
      </div>-->
    </div>


    <!--Question image-->
    <div class="player">
      
      <div class="video">

        <% if (tutorials.length !== 0) { %>

          <iframe class="shadow" width="620" height="348.75" src="<%- tutorials[0].video_url %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="display: none;"></iframe>

          <div class="screen shadow" style="width: 620px; height: 348.75px; background: url('https://i.imgur.com/ps8e8B2.png');"></div>

        <% } else { %>

          <div class="screen shadow" style="width: 620px; height: 348.75px; background: url('https://i.imgur.com/ps8e8B2.png');"></div>

        <% } %>

        <div class="description">
          <h3>Description:</h3>
          <h3 id="videoDesc">Select a tutorial to get started.</h3>
        </div>

      </div>


      <div class="videolist">

        <% if (currentClass != null) { %>

          <% tutorials.forEach(function(tuto) { if (tuto.classroom_id == currentClass.id) { %>

            <div class="mcanswer pop noselect" onclick="loadVideo('<%- tuto.name%>', '<%- tuto.video_url%>', '<%- tuto.description%>')"><%- tuto.tag %></div>

          <% }}); %>

        <% } %>

      </div>

    </div>

    </section>
    <br />

    <script type="text/javascript">
      
      function loadVideo(tutoTitle, url, description) {

        let title = document.getElementById("tutorialTitle");
        let desc = document.getElementById("videoDesc");
        let vid = document.getElementsByTagName("iframe")[0];
        let waitingscreen = document.querySelector(".screen");

        title.innerHTML = tutoTitle;
        desc.innerHTML = description;
        vid.setAttribute("src", url);

        waitingscreen.style.display = "none";
        vid.style.display = "block";

      }

    </script>
